@import url("https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap");
#carousel img {
  width: 100vw;
  height: auto;
}

#carousel {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#carousel li {
  display: block;
  list-style: none;
}

#pieces button.prev, button.next {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #FFF;
  background-color: #333;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

button.prev {
  position: absolute;
  left: 0;
  top: 42vh !important;
}

button.next {
  position: absolute;
  right: 0;
  top: 42vh !important;
}

#pieces h3 {
  font-size: 14px;
  width: 70%;
  margin: auto;
}

#footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 25px;
  bottom: 0;
}

#footer h3 {
  font-size: 14px;
  color: white;
  margin: 0;
}

#portfolioGallery a {
  font-size: 14px;
  margin-top: 25px;
  text-decoration: none;
  color: black;
  margin-right: 40px;
}

#portfolioGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolioGallery a:hover {
  color: grey;
}

.socialIcons {
  margin-bottom: 10px;
  font-size: 40px !important;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.socialIcons:hover {
  color: grey;
}

.active {
  background-color: black;
  border-radius: 15px;
}

.active a {
  color: white;
}

form {
  width: 100%;
  margin: auto;
}

nav {
  margin: 0;
}

main {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #111F10;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

nav ul li {
  width: 75px;
  padding: 15px;
  border-bottom: 3px solid #111F10;
  height: 16px;
  overflow: hidden;
  transition: border 0.5s;
  font-family: "Sulphur Point", sans-serif;
}

nav ul li a {
  padding: 0 2px;
}

nav ul li:last-child {
  border: none !important;
  margin-bottom: 30px !important;
  padding-bottom: none;
}

nav a {
  text-decoration: none;
  color: #111F10;
}

nav ul {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

nav {
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  margin: 5px 0 0 5px;
  width: 20vw;
  height: 20vw;
}

#burgerMenu {
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
  width: 50px;
  height: 50px;
}

#navWrapper {
  width: 0;
  max-height: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  opacity: 0;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  margin-bottom: 15px;
}

.showMenu {
  opacity: 1 !important;
  margin-right: 3px;
  max-height: 230px !important;
  width: 45vw !important;
}

#closeButton {
  font-weight: bolder;
  width: 10px;
  margin: 5px 5px 20px 5px !important;
  align-self: flex-end;
  right: 0;
}

#welcomeSection {
  max-height: 375px;
  overflow: hidden;
  margin-top: 15px;
}

#welcomeTxt {
  z-index: 2;
  position: absolute;
  justify-self: center;
  color: #dedede;
  margin: 20vw 10vw;
}

#welcomeHero {
  overflow: hidden;
  width: 100%;
  z-index: -2;
  position: relative;
}

.zoom {
  animation: scale 20s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
#aboutBody {
  font-size: 28px;
  margin: auto;
  width: 60%;
  text-align: start;
  line-height: 110%;
}

#profilePic {
  width: 60%;
  margin-bottom: 25px;
  border-radius: 60px;
}

#profileCircle {
  background-color: #A5FFA1;
  width: 30vw;
  height: 30vw;
  border-radius: 800px;
  margin: auto;
  margin-bottom: 25px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.formGroup label {
  font-size: 24px;
  margin-bottom: 5px;
}

#nameInput {
  padding: 0 10px;
  font-size: 18px;
  border-radius: 10px;
  width: 80%;
  height: 10vw;
  border: 2px solid #111F10;
}

#emailInput {
  padding: 0 10px;
  font-size: 18px;
  border-radius: 10px;
  width: 80%;
  height: 10vw;
  border: 2px solid #111F10;
}

#messageInput {
  padding: 0 10px;
  font-size: 18px;
  border-radius: 10px;
  width: 80%;
  height: 30vw;
  border: 2px solid #111F10;
}

.button {
  font-size: 24px;
  font-weight: bold;
  width: 50%;
  height: 10vw;
  background-color: #A5FFA1;
  border: 2px solid #111F10;
  border-radius: 5px;
}

.button:active {
  background-color: #61D459;
}

.subtitle {
  font-size: 18px;
  font-family: "Sulphur Point", sans-serif !important;
}

section {
  margin-bottom: 50px;
}

#resumewrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#resumewrapper ul li {
  font-size: 28px;
  text-align: start;
}

.resumeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumeBox h2 {
  font-size: 40px;
}

#resume h1 {
  font-size: 60px;
  margin: 20px 0 0 0;
}

.pieceBox h2 {
  font-size: 18px;
}

.pieceBox h3 {
  margin-bottom: 5px;
  margin-top: 30px;
}

.thermo img {
  width: 60vw;
  margin: auto;
}

.typhoon img {
  width: 60vw;
  margin: auto;
}

.musicMixer img {
  height: 20vw;
  margin: auto;
}

#portfolioPieces {
  margin: 30px 0;
}

.typhoon, .musicMixer, .portfolioPieces {
  margin-bottom: 5px;
  margin-top: 15px;
}

.fadeIn {
  width: 100vw !important;
  opacity: 1 !important;
}

.portfolioPages {
  min-height: 100vh;
  position: absolute;
  text-align: center;
  width: 0;
  display: flex;
  opacity: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  color: #111F10;
  transition: all 0.5s ease-in-out;
}

.portfolioPages img {
  width: 90vw;
  border-radius: 10px;
  margin-bottom: 10vw;
}

.closePage {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
  margin: 0;
  font-weight: lighter;
}

.portfolioPages h2 {
  margin-top: 0;
}

.portfolioPages p {
  width: 90vw;
  margin-top: 0;
}

@media only screen and (max-width: 1024px) and (min-width: 415px) {
  #carousel img {
    width: 100vw;
    height: auto;
  }

  #carousel {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #carousel li {
    display: block;
    list-style: none;
  }

  #pieces button.prev, button.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  button.prev {
    position: absolute;
    left: 0;
    top: 50vh !important;
  }

  button.next {
    position: absolute;
    right: 0;
    top: 50vh !important;
  }

  #pieces h3 {
    font-size: 14px;
    width: 70%;
    margin: auto;
  }

  #portfolioGallery a {
    font-size: 18px;
  }

  #footer h3 {
    font-size: 18px !important;
  }

  .socialIcons {
    font-size: 18px !important;
  }

  #pieces video {
    width: 100vw;
    height: auto;
  }

  body {
    font-size: 28px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 22px;
  }

  .subtitle {
    font-size: 35px;
  }

  #messageInput {
    font-size: 35px;
  }

  #nameInput {
    font-size: 35px;
  }

  #emailInput {
    font-size: 35px;
  }

  .showMenu {
    max-height: 350px !important;
  }

  nav ul li {
    width: 150px;
  }

  #closeButton {
    font-size: 40px;
    width: auto;
  }

  .pieceBox h2 {
    font-size: 35px;
  }

  .formGroup label {
    font-size: 35px !important;
  }

  .button {
    font-size: 35px;
  }

  #burgerMenu {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (min-width: 1025px) {
  #carousel img {
    width: 100vw;
    height: auto;
  }

  #carousel {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #carousel li {
    display: block;
    list-style: none;
  }

  #pieces button.prev, button.next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #FFF;
    background-color: #333;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  }

  button.prev {
    position: absolute;
    left: 0;
    top: 80vh !important;
  }

  button.next {
    position: absolute;
    right: 0;
    top: 80vh !important;
  }

  #pieces h3 {
    font-size: 28px;
    width: 70%;
    margin: auto;
  }

  #portfolioGallery a {
    font-size: 28px;
  }

  #logo {
    max-height: 200px;
    max-width: 200px;
  }

  #navWrapper {
    opacity: 1 !important;
    margin-right: 3px;
    max-height: 250px !important;
    width: auto !important;
    align-items: center;
  }

  #burgerMenu {
    display: none;
  }

  nav ul {
    margin-right: 50px;
    margin-top: 10%;
    flex-direction: row;
    font-size: 40px;
  }

  nav ul li {
    height: auto;
    width: auto;
    margin: 0 !important;
    border: none !important;
  }

  nav ul li:last-child {
    margin: 0 !important;
  }

  h1 {
    font-size: 60px !important;
  }

  #welcomeTxt {
    margin: 10vw 30vw;
  }

  #closeButton {
    display: none;
  }

  .webDevP {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .webDevP img {
    width: 400px;
  }

  .musicMixer img {
    height: 90px;
  }

  .pieceBox h2 {
    font-size: 40px;
  }

  .webDevP {
    font-size: 40px !important;
  }

  .webDevP img:hover {
    cursor: pointer;
    filter: saturate(100%);
  }

  .button:hover {
    cursor: pointer;
  }

  .resumeBox {
    font-size: 28px !important;
  }

  .webDevP img {
    filter: saturate(50%);
    transition: filter 0.3s;
    margin-top: 50px;
  }

  #contactForm input {
    width: 60%;
    height: 50px;
  }

  #messageInput {
    height: 15vw;
    width: 60%;
  }

  .button {
    width: 20%;
    height: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
