$StdFont : 'Sulphur Point', sans-serif;
$StdFont2 : 'Josefin Sans', sans-serif;
$themeColour1: #111F10;
$themeColour2: #A5FFA1;
$themeColour3: #61D459;
$mobileTitle:24px;
$mobileSubT:18px;
$mobileBody:14px;