@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
@import "_vars";

main{
    font-family: $StdFont2;
    text-align: center;
    color: $themeColour1;
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
}
@media screen and(max-width:415px){
    h1{
        font-size: $mobileTitle;
    }
    p{
        font-size: $mobileBody;
    }
    nav ul li{
        width: 75px;
        padding: 15px;
        border-bottom: 3px solid $themeColour1;
        height: 16px;
        overflow: hidden;
        
        font-family: $StdFont;
    }
    nav ul li a{
        padding: 0 2px;
    }
    nav ul li:last-child{
        border: none!important;
        margin-bottom: 30px!important;
        padding-bottom: none;
    }
   
    nav a{
        text-decoration: none;
        color: $themeColour1;
    }
    nav ul{
        
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        margin:0;
    }
    nav{
        margin: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        margin: 5px 0 0 5px;
        width: 20vw;
        height: 20vw;
    }
    #burgerMenu{
        position: absolute;
       
        right: 0;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
    }
    
    
    #navWrapper{
        width: 0;
        max-height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        opacity: 0;
        transition: width .5s ease-in-out,opacity .5s ease-in-out, max-height .5s ease-in-out;  
        margin-bottom: 15px;
    }
    .showMenu{
        
        opacity: 1!important;
        margin-right: 3px;
        max-height: 230px!important;
       width: 45vw!important;
       
      
       

    }
    #closeButton{
        font-weight: bolder;
        width: 10px;
        margin: 5px 5px 20px 5px!important; 
        align-self: flex-end;      
        right: 0;
        
    }
    #welcomeSection{
        max-height: 375px;
        overflow: hidden;
        margin-top: 15px;
    }
    #welcomeTxt{
        
        z-index: 2;
        position: absolute;
        justify-self: center;
        color: #dedede;
        margin: 20vw 10vw;
      
    }
    #welcomeHero{
      
        
        width: 100%;
        z-index: -2;
        position:relative;
    }
    .zoom {
        animation: scale 20s linear infinite;
      }
      @keyframes scale {
        50% {
          -webkit-transform:scale(1.2);
          -moz-transform:scale(1.2);
          -ms-transform:scale(1.2);
          -o-transform:scale(1.2);
          transform:scale(1.2);
        }
      }
    #aboutBody{
        margin: auto;
        width:80%;
        text-align: start;
        line-height: 110%;
    }
    .formGroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }
    .formGroup label{
        font-size: $mobileTitle;
        margin-bottom: 5px;
    }
    #nameInput{
        padding: 0 10px;
        font-size: $mobileSubT;
        border-radius: 10px;
        width: 60%;
        height: 10vw;
        border: 2px solid $themeColour1;
    }
    #emailInput{
        padding: 0 10px;
        font-size: $mobileSubT;
        border-radius: 10px;
        width: 60%;
        height: 10vw;
        border: 2px solid $themeColour1;
    }
    #messageInput{
        padding: 0 10px;
        font-size: $mobileSubT;
        border-radius: 10px;
        width: 60%;
        height: 30vw;
        border: 2px solid $themeColour1;
    }
    .button{
        font-size: $mobileTitle;
        font-weight: bold;
        width: 50%;
        height: 15vw;
        background-color: $themeColour2;
        border: 2px solid $themeColour1;
        border-radius: 5px;
    }
    .button:active{
background-color: $themeColour3;
    }
    .subtitle{
        font-size: $mobileSubT;
        font-family: $StdFont!important;
    }
    #resumewrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    #resumewrapper ul li{
        text-align: start;
    }
    .resumeBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #resume h1{
        margin: 20px 0 0 0;
    }
    .pieceBox h2{
        font-size: $mobileSubT;
    }
    .pieceBox h3{
        margin-bottom: 5px;
    }
   
    .thermo img{
        width: 60vw;
        margin: auto;
    }
    .typhoon img{
        width:60vw;
        margin: auto;
    }
    .musicMixer img{
        height: 20vw;
        margin: auto;
    }
    #portfolioPieces{
        margin: 30px 0;
    }

    .typhoon, .musicMixer, .portfolioPieces{
        margin-bottom: 5px;
        margin-top: 15px;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      }
      .fadeIn {
        animation-name: fadeIn;
      }
   
    
}
