@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
@import "_vars";

form{
    width: 100%;
    margin: auto;
}
nav{
    margin:0;
}

main{
    
    font-family: $StdFont2;
    text-align: center;
    color: $themeColour1;
    width: 100vw;
    height: 100vh;
}
body{
    
    margin: 0;
}


    h1{
        font-size: $mobileTitle;
    }
    p{
        font-size: $mobileBody;
    }
    nav ul li{
        width: 75px;
        padding: 15px;
        border-bottom: 3px solid $themeColour1;
        height: 16px;
        overflow: hidden;
        transition: border .5s;
        
        font-family: $StdFont;
    }
    
    nav ul li a{
        padding: 0 2px;
    }
    nav ul li:last-child{
        border: none!important;
        margin-bottom: 30px!important;
        padding-bottom: none;
    }
   
    nav a{
        text-decoration: none;
        color: $themeColour1;
    }
    nav ul{
        
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        margin:0;
    }
    nav{
        margin: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        margin: 5px 0 0 5px;
        width: 20vw;
        height: 20vw;
    }
    #burgerMenu{
        position: absolute;
       
        right: 0;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
    }
    
    
    #navWrapper{
        width: 0;
        max-height: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        opacity: 0;
        transition: width .5s ease-in-out,opacity .5s ease-in-out, max-height .5s ease-in-out;  
        margin-bottom: 15px;
    }
    .showMenu{
        
        opacity: 1!important;
        margin-right: 3px;
        max-height: 230px!important;
       width: 45vw!important;
       
      
       

    }
    #closeButton{
        font-weight: bolder;
        width: 10px;
        margin: 5px 5px 20px 5px!important; 
        align-self: flex-end;      
        right: 0;
        
    }
    #welcomeSection{
        max-height: 375px;
        overflow: hidden;
        margin-top: 15px;
    }
    #welcomeTxt{
        
        z-index: 2;
        position: absolute;
        justify-self: center;
        color: #dedede;
        margin: 20vw 10vw;
      
    }
    #welcomeHero{
      
        overflow: hidden;
        width: 100%;
        z-index: -2;
        position:relative;
    }
    .zoom {
        animation: scale 20s linear infinite;
      }
      @keyframes scale {
        50% {
          -webkit-transform:scale(1.2);
          -moz-transform:scale(1.2);
          -ms-transform:scale(1.2);
          -o-transform:scale(1.2);
          transform:scale(1.2);
        }
      }
    #aboutBody{
        font-size: $desktopBody;
        margin: auto;
        width:60%;
        text-align: start;
        line-height: 110%;
    }
    #profilePic {
        width: 60%;
        margin-bottom: 25px;
        border-radius: 60px;
        
      }
      #profileCircle{
          background-color: $themeColour2;

          width: 30vw;
          height: 30vw;
          border-radius: 800px;
         
          
          margin: auto;
          margin-bottom: 25px;
      }
    .formGroup{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }
    .formGroup label{
        font-size: $mobileTitle;
        margin-bottom: 5px;
    }
    #nameInput{
        padding: 0 10px;
        font-size: $mobileSubT;
        border-radius: 10px;
        width: 80%;
        height: 10vw;
        border: 2px solid $themeColour1;
    }
    #emailInput{
        padding: 0 10px;
        font-size: $mobileSubT;
        border-radius: 10px;
        width: 80%;
        height: 10vw;
        border: 2px solid $themeColour1;
    }
    #messageInput{
        padding: 0 10px;
        font-size: $mobileSubT;
        border-radius: 10px;
        width: 80%;
        height: 30vw;
        border: 2px solid $themeColour1;
    }
    .button{
        font-size: $mobileTitle;
        font-weight: bold;
        width: 50%;
        height: 10vw;
        background-color: $themeColour2;
        border: 2px solid $themeColour1;
        border-radius: 5px;
    }
    .button:active{
background-color: $themeColour3;
    }
    .subtitle{
        font-size: $mobileSubT;
        font-family: $StdFont!important;
    }
  section{
      margin-bottom: 50px;
  }
    #resumewrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    #resumewrapper ul li{
        font-size: $desktopBody;
        text-align: start;
    }
    .resumeBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resumeBox h2{
        font-size: $desktopSubT;
    }
    #resume h1{
        font-size: $desktopTitle;
        margin: 20px 0 0 0;
    }
    .pieceBox h2{
        font-size: $mobileSubT;
    }
    .pieceBox h3{
        margin-bottom: 5px;
        margin-top: 30px;
    }
   
    .thermo img{
        width: 60vw;
        margin: auto;
    }
    .typhoon img{
        width:60vw;
        margin: auto;
    }
    .musicMixer img{
        height: 20vw;
        margin: auto;
    }
    #portfolioPieces{
        margin: 30px 0;
    }
    

    .typhoon, .musicMixer, .portfolioPieces{
        margin-bottom: 5px;
        margin-top: 15px;
    }
   
      .fadeIn {
        width:100vw!important;
        opacity: 1!important;
      }
      .portfolioPages {
          min-height: 100vh;
          position: absolute;
          text-align: center;
          width: 0;
          display: flex;
          opacity: 0;
         
          overflow: hidden;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          font-family: $StdFont2;
          color: $themeColour1;
          transition: all .5s ease-in-out;
          
      }
      .portfolioPages img{
          width: 90vw;
          border-radius: 10px;
          margin-bottom: 10vw;
          
      }
      .closePage{
        position: absolute;
        z-index: 2;
        right: 10px;
        top:10px;
        margin: 0;
        font-weight: lighter;
      }
      .portfolioPages h2{

          margin-top: 0;
      }
      .portfolioPages p{
          width: 90vw;
          margin-top: 0;
      }

      @media only screen and (max-width: 1024px) and (min-width: 415px){
          body{
              font-size: $tabletBody;
          }
        h1{
            font-size: $tabletTitle;
        }
        h2{
            font-size: $tabletSubT;
        }
        p{
            font-size: 22px;
        }
        .subtitle {
            font-size: $tabletSubT;
        }
        #messageInput{
            font-size: $tabletSubT;
        }
        #nameInput{
            font-size: $tabletSubT;
        }
        #emailInput{
            font-size: $tabletSubT;
        }
        .showMenu{
            max-height: 350px!important

        }
        nav ul li{
            width: 150px;
        }
        #closeButton{
            font-size: 40px;
            width: auto;
        }
        .pieceBox h2{
            font-size: $tabletSubT;
        }
        .formGroup label{
            font-size: $tabletSubT!important;
           
        }
        .button{
            font-size: $tabletSubT;
        }
        #burgerMenu{
            width: 100px;
            height: 100px;
        }

    }
    @media only screen and (min-width: 1025px){
        #logo{
            max-height: 200px;
            max-width: 200px;
        }
        #navWrapper{
            opacity: 1 !important;
            margin-right: 3px;
            max-height: 230px !important;
            width: auto !important;
            align-items: center;

    }
    #burgerMenu{
        display: none;
    }
    nav ul{
        margin-right: 50px;
        margin-top: 10%;
        flex-direction: row;
        font-size:$desktopSubT ;
    }
    nav ul li{
        height: auto;
        width: auto;
        margin: 0!important;
        border: none!important;
        
    }
    nav ul li:last-child{
        margin: 0!important;
    }
    h1{
        font-size: $desktopTitle!important;
    }
    #welcomeTxt{
        margin: 10vw 30vw;
    }
    #closeButton{
        display:none;
    }
    .webDevP{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

    }
    .webDevP img{
        width: 400px;
    }
    .musicMixer img{
        height: 90px;
    }
    .pieceBox h2{
        font-size: $desktopSubT;
    }
    .webDevP{
        font-size: $desktopSubT!important;
    }
    .webDevP img:hover{
        cursor: pointer;
        filter: saturate(100%);
    }
    .button:hover{
        cursor:pointer;
    }
    .resumeBox{
        font-size: $desktopBody!important;
    }
    .webDevP img{
        filter: saturate(50%);
        transition: filter .3s;
        margin-top: 50px;
    }
     #contactForm input{
        width: 60%;
        height: 50px;
     }
     #messageInput{
         height: 15vw;
         width: 60%;
     }
    
     .button{
         width: 20%;
         height: 50px;
     }
}
   
    
