@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
//Variables 
    $StdFont : 'Sulphur Point', sans-serif;
    $textColor: black;
    $mobileTitle:24px;
    $mobileBody:14px;
//End of Variables

main{
    text-align: center;
    
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0;
}
@media screen and(max-width:415px){
    h1{
        font-size: $mobileTitle;
    }
    p{
        font-size: $mobileBody;
    }
    nav ul li{
        height: 16px;
        overflow: hidden;
        margin-bottom: 30px;
        font-family: $StdFont;
    }
    nav ul li:active{
        color: red;
    }
    nav a{
        text-decoration: none;
        color: $textColor;
    }
    nav ul{
        
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        align-items: center;
        margin:0;
    }
    nav{
        margin: 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo{
        margin: 5px 0 0 5px;
        width: 20vw;
        height: 20vw;
    }
    #burgerMenu{
        position: absolute;
       
        right: 0;
        margin: 10px 10px 0 0;
        width: 50px;
        height: 50px;
    }
    
    
    #navWrapper{
        width: 0;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: start;
        opacity: 0;
        border:1px solid black!important;
        transition: width .5s ease-in-out,opacity .5s ease-in-out, max-height .5s ease-in-out .5s;  
       
           
    }
    .showMenu{
        
        opacity: 1!important;
        margin-right: 3px;
        max-height: 230px!important;
       width: 45vw!important;
       
      
       

    }
    #closeButton{
        width: 10px;
        margin: 5px 5px 20px 5px!important; 
        align-self: flex-end;      
        right: 0;
        
    }
    #aboutBody{
        margin: auto;
        width:80%;
        align-self: center;
    }
    
   
    
}
