<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Node with Express!</title>
</head>
<body>
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    
    <h1>You're on the contact page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos inventore aliquam odio alias, est atque tenetur minus nulla quasi expedita ut beatae esse, ex fugit accusantium eaque amet et nesciunt?
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos inventore aliquam odio alias, est atque tenetur minus nulla quasi expedita ut beatae esse, ex fugit accusantium eaque amet et nesciunt?
    </p>
</body>
</html>