<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>My Super Awesome Template</title>
</head>
<body>
    <main>
        <nav><a href="#"><img src="images/PlaystationLogo.png" alt="Logo"></a></nav>
        <h1>New Playstation Release!</h1>
        <div id="specswrapper">

        <img id="productImg" src="images/PS5.jpg" alt="Product">
        <h3 class="">Leaked specs for the new console:</h3>
        <ul>
            <li>CPU: Based on AMD Ryzen 8-core</li>
            <li>GPU: Custom Radeon Navi</li>           
            <li>Storage Type: SSD</li>
            <li>Resolution Support: 8K</li>
            <li>PSVR Support: Yes</li>
           
        </ul>
    </div>
        <h2>About the Release Date:</h2>
        <h3>The Playstation 5 will be released on the Holiday of 2020, and it will probably cost well over $400</h3>
    
    </main>

    <script src="js/main.js"></script>
</body>
</html>