<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/772b1c5ce3.js" crossorigin="anonymous"></script>
    <title>Guilherme Bueno's Portfolio</title>
</head>
<body>
    <section id="one" class="portfolioPages">
        <h1 class="closePage">X</h1>
        <h1>Typhoon Media Project</h1>
        <img src="images/portfolioPiece1.png" alt="Typhoon Media Image 1">
        <img src="images/portfolioPiece1.1.png" alt="Typhoon Media Image 2">
        <h2>Project Description and Contributions</h2>
        <p>Project: Create from scratch a brand, including the whole branding process, also build a fully responsive Website, using the brand created, to showcase the Brand's team.<br><br>
        Contributions: Responsive Build and assembly of the HTML content as well as stylizing said contents.<br>
        Creation of scripts to make the website interactive and fluid.
        </p>

    </section>
    <section id="two" class="portfolioPages">
        <h1 class="closePage">X</h1>
        <h1>Thermo Security by HOUSECOM</h1>
        <img src="images/portfolioPiece3.png" alt="Thermo Security Image 1">
        <img src="images/portfolioPiece3.1.png" alt="Thermo Security Image 2">
        <img src="images/portfolioPiece3.2.png" alt="Thermo Security Image 3">
        <img src="images/portfolioPiece3.5.png" alt="Thermo Security Image 4">
        <img src="images/portfolioPiece3.4.png" alt="Thermo Security Image 5">
        <img src="images/portfolioPiece3.3.png" alt="Thermo Security Image 6">
        <img src="images/portfolioPiece3.6.png" alt="Thermo Security Image 7">
        <h2>Project Description and Contributions</h2>
        <p>Description: Fully develop and prototype a security item product, create a website and marketing plan as well as building a website to showcase the product in the span of 24 hours.<br><br>
        Contributions: Responsive Build of the Website and Back End Rigging, as well as creating the script responsible for the interactiveness of the 3D element present on the page.
        </p>
    </section>
    <section id="three" class="portfolioPages">
        <h1 class="closePage">X</h1>
        <h1>Music Mixer</h1>
        <img src="images/portfolioPiece2.png" alt="Music Mixer Image 1">
        <img src="images/portfolioPiece2.1.png" alt="Music Mixer Image 2">
        <h2>Project Description and Contributions</h2>
        <p>Description: Fully Develop a Desktop Web App with the drag and drop feature that will be able to mix music tracks together.
            Contributions: Full website Design, build and scripts, implemented by targeting elements to trigger the music being loaded and played into the browser.
        </p>
    </section>
    <main>
    <nav>
        <img src="images/logo.svg" alt="Logo" id="logo">
        <img src="images/burgermenu.png" alt="burgerMenu" id="burgerMenu" >
    <div id="navWrapper">
        <p id="closeButton">X</p>
        <ul>
            <li><a href="#welcomeSection">Home</a></li>
            <li><a href="#portfolioPieces">Projects</a></li>
            <li><a href="#aboutMe">About Me</a></li>
            <li><a href="#contactForm">Contact</a></li>
    </ul>
    </div>
    </nav>
    <div id="welcomeSection">
        
        <h1 id="welcomeTxt">Hi, I'm Gui, and I'm a front-end Dev.</h1>
        <img src="images/desktopBG.jpg" alt="Background" id="welcomeHero" class="zoom">

    </div>
      <section id="portfolioPieces">
          <h1>Past Projects</h1>
        <div class="pieceBox">
            <h2>Web Development</h2>
            <div class="webDevP">

                <div class="musicMixer">
                    <h3>Music Mixer</h3>
                    <img src="images/AlienBW.svg" alt="Music Mixer" class="preview" data-name="MusicMixer">
                </div>

                <div class="typhoon">
                    <h3>Typhoon Media</h4>
                    <img src="images/Typhoon.png" alt="Typhoon Media" class="preview" data-name="TyphoonMedia">
                </div>
               
               <div class="thermo">    
                   <h3>Thermo Security<br>by HOUSECOM</h3>
                   <img src="images/thermoLogo.svg" alt="Thermo Security" class="preview" data-name="ThermoSecurity">
               </div>
            </div>
        </div>
        <div class="pieceBox">
            
        </div>
        <div class="pieceBox">
            
        </div>
    </section>
    <section id="aboutMe">
        <h1 id="aboutTitle">About Me</h1>
        <p id="aboutBody">My name is Guilherme Sanches Bueno Da Silva (Yes, very long and difficult to say it, I know), but you may refer to me as Gui. I'm 20 years old, and currently a Web developing student and aspiring front-end dev. <br><br>
        I love building web applications from scratch and have a lot of fun using JavaScript. To me, coding in JavaScript is very fun because of this language's versatility.<br><br>
        One of my Hobbies is reading random questions and answers on StackOverflow, or even Web Dev blogs and articles. I'm very passionate about learning and staying current on web development.
        </p>
    </section>
    <section id="resume">
        <h1>My Skills</h1>
        <div id="resumewrapper">
            <div class="resumeBox">
                <h2 class="subtitle"> <i class="fa fa-code" aria-hidden="true"></i> Coding Languages</h2>
                <ul>
                    <li>Python</li>
                    <li>C++</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    <li>SQL</li>
                </ul>
                
            </div>
            <div class="resumeBox">
                <h2 class="subtitle"><i class="fa fa-sitemap"></i> Front End Build Tools</h2>
                <ul>
                    <li>Node.js</li>
                    <li>NPM</li>
                    <li>Sass</li>
                    <li>HTML</li>
                    <li>CSS</li>                 
                </ul>
            </div>
    </section>
    <section id="contactForm">
        <h1>Contact Me!</h1>
        <div class="formGroup">
            <label><i class="fa fa-user" aria-hidden="true"></i> Name</label>
            <input type="text" name="name" class="" placeholder="Enter Name" id="nameInput">
        </div>
        <div class="formGroup"> 
			<label><i class="fa fa-envelope" aria-hidden="true"></i> Email</label> 
			<input type="email" name="email" class="form-control" placeholder="Enter Email" id="emailInput"> 
		</div>
        <div class="formGroup"> 
			<label><i class="fa fa-comment" aria-hidden="true"></i> Message</label> 
			<textarea rows="3" name="message" class="form-control" placeholder="Type Your Message" id="messageInput"></textarea> 
		</div>
        <div class="formGroup">
			<button class="button">Send</button>
		</div></div>
    </section>
  
   
    


    
</main>
    <script src="js/main.js"></script>
</body>
</html>