<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Guilherme Bueno's Portfolio</title>
</head>
<body>
    <main>
    <nav>
        <img src="images/logo.png" alt="Logo" id="logo">
        <img src="images/burgermenu.png" alt="burgerMenu" id="burgerMenu" >
    <div id="navWrapper">
        <p id="closeButton">X</p>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Contact</a></li>
    </ul>
    </div>
    </nav>
    <section id="welcomeSection">
        <h1 id="welcomeTxt">Hi, I'm Gui, and I'm a front-end Dev.</h1>

    </section>
      <section id="portfolioPieces">
        <div class="pieceBox">
            <img src="" alt="" class="piecePreview">
            <img src="" alt="" class="piecePreview">
        </div>
        <div class="pieceBox">
            <img src="" alt="" class="piecePreview">
            <img src="" alt="" class="piecePreview">
        </div>
        <div class="pieceBox">
            <img src="" alt="" class="piecePreview">
            <img src="" alt="" class="piecePreview">
        </div>
    </section>
    <section id="aboutMe">
        <h1 id="aboutTitle">About Me</h1>
        <p id="aboutBody">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consequuntur quis totam facilis dolore, aperiam aliquid officiis modi eius, quasi ratione pariatur et molestias laboriosam? Soluta excepturi nam architecto quia!
        Officiis, voluptates incidunt reprehenderit, amet architecto totam natus mollitia ad quam non maxime? Laboriosam unde doloremque odit dignissimos excepturi aliquid molestiae, quos quibusdam ratione praesentium, voluptatibus perspiciatis ipsa, accusamus expedita?
        Natus, ex! Odit dolor in beatae dolores iure sed nobis doloremque incidunt excepturi, optio earum blanditiis, maxime recusandae. Quam repellat harum corrupti! Quo libero consequatur dignissimos optio, doloremque nam voluptate.</p>
    </section>
    <section id="contactForm">
        <div class="formGroup">
            <label><i class="" aria-hidden="true"></i> Name</label>
            <input type="text" name="name" class="" placeholder="Enter Name">
        </div>
        <div class="formGroup"> 
			<label><i class="fa fa-envelope" aria-hidden="true"></i> Email</label> 
			<input type="email" name="email" class="form-control" placeholder="Enter Email"> 
		</div>
        <div class="formGroup"> 
			<label><i class="fa fa-comment" aria-hidden="true"></i> Message</label> 
			<textarea rows="3" name="message" class="form-control" placeholder="Type Your Message"></textarea> 
		</div>
        <div class="formGroup">
			<button class="btn btn-raised btn-block btn-danger">Post →</button>
		</div>
    </section>
  
   
    


    
</main>
    <script src="js/main.js"></script>
</body>
</html>